:root {
    --primary-color: #204051;  
    --secondary-color: #3b6978; 
    --accent-color: #84a9ac;    
    --background-color: #cae8d5; 
    --highlight-color: #f4f9f4; 

    --navbar-footer-background-color: #D3E4E6; 
    --highlight-color: #204051; 

}
.navbar-custom {
    background-color: var(--navbar-footer-background-color);
}

.navbar-fixed-top {
    position: fixed;
    top: 10%;
    width: 100%;
    z-index: 1030; 
    background-color: var(--navbar-footer-background-color); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}


body {
    padding-top: 80px; 
}

.navbar-custom .nav-link, .navbar-custom .navbar-brand {
    color: var(--highlight-color) !important;
}

.navbar-custom .nav-link:hover {
    color: var(--accent-color) !important;
}


.btn-action {
    background-color: var(--accent-color);
    color: var(--highlight-color);
}


.footer-custom {
    background-color: var(--navbar-footer-background-color);
    color: var(--highlight-color);
    padding: 20px 0;
}

.footer-logo {
    max-width: 150px; 
}

.footer-social-icons {
    margin-top: 15px;
}

.footer-social-icons .social-icon {
    margin-right: 10px;
    color: var(--highlight-color);
    font-size: 1.5em;
    text-decoration: none;
}

.footer-social-icons .social-icon:hover {
    color: var(--highlight-color);
}

.contact-link {
    color: var(--highlight-color);
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
}


     .navbar-fixed-top {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1030; 
    }

    
    body {
        padding-top: 80px; 
    }

    .header-image {
        width: 100%;
        height: auto;
        display: block;
    }
